<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/info_message.css">
</head>

<body>
    <header class="login-header">
        <h1><a href="/"><img src="../assets/images/logo.svg" alt="로고"></a></h1>
    </header>
    <!-- 모바일 헤더 오버레이 -->
    <div class="overlay"></div>

    <article class="info-message-page">
       <section class="container">
          <img class="icon" src="../assets//images/ic_unconnect.svg" alt="아이콘">
          <h3>서비스에 접속할 수 없습니다.</h3>
          <span class="desc">죄송합니다. <br class="mo">기술적인 문제로 일시적으로 서비스에 <br class="mo">접속할 수 없습니다.<br>잠시 후 다시 확인해주세요.</span>
          <div class="btn-wrap">
              <a href="./home.html" class="button button-cancel">메인으로 이동</a>
          </div>
       </section>
    </article>
</body>

</html>