.modalCpRequest .modal-content, .modalCpRequestDetail .modal-content, .modalCpPreview .modal-content  {
    width: 900px;
}
.modal-body {
    overflow-y: scroll;
    max-height: 600px;
}
.section {
    margin-bottom: 20px;
}
.approval-info {
    display: flex;
    justify-content: flex-end;
}
.approval-table {
    width: auto;
    border-collapse: collapse;
    width: 280px;
    margin-bottom: 20px;
}
.approval-label-cell {
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    background-color: #F4F6F8;
    color: #171719;
}
.approval-table td {
    padding: 8px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #EDEFF3;
}
.approval-header {
    color: #2E2F33;
}
.approval-value-cell {
    font-weight: 500;
}
.approval-date {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}
.section-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    padding: 3px 0;
}
.section table {
    width: 100%;
    margin-bottom: 8px;
}
.section table:last-child {
    margin-bottom: 0px;
}
.section table th,.section table td {
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid #EDEFF3;
    text-align: center;
}
.section table th {
    background-color: #F4F6F8;
    color: rgba(46, 47, 51, 0.88);
}
.section table td {
    color: #171719;
    text-align: left;
}
/* 파일 다운로드 */
.download-wrap {
    display: flex;
    align-items: center;
}

.download-wrap li a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 44px 0 12px;
    color: #0066FF;
}

.download-wrap li a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/images/Icon_fail.svg);
    background-size: cover;
    transform: translateY(-50%);
}
.modalCpRequestDetail .section:last-child {
    padding-bottom: 293px;
}

/* 신청 */
.section-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title-wrap .btn-wrap {
    display: flex;
    align-items: center;
}
.section-title-wrap .btn-wrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #171719;
    font-size: 12px;
    padding: 4px 8px;
    background-color: rgba(112, 115, 124, 0.08);
    border-radius: 4px;
}
.section-title-wrap .btn-wrap button img {
    width: 16px;
    height: 16px;
}
/* 셀렉 */
.section .custom-select {
    width: 280px;
}
.section .custom-select.disabled .select-selected {
    background-color: rgba(112, 115, 124, 0.08);
}
.section .select-selected {
    padding: 6px 38px 6px 12px;
    background-color: #fff;
    border: 1px solid rgba(112, 115, 124, 0.16);
}
.section .select-items {
    width: 100%;
}
.section .input-item {
    margin-bottom: 0;
}
.section .input-item .input {
    width: 100%;
}
tr.text-center td {
    text-align: center;
    color: rgba(46, 47, 51, 0.88);
}
.info-message {
    display: flex;
    align-items: start;
    color: #FF0000;
    font-size: 12px;
    margin: 12px 0;
    line-height: 130%;
}
.info-message i {
    margin-right: 4px;
}
/* 라디오버튼 */
 /* 라디오 버튼 컨테이너 */
 .radio-container {
    display: flex;
    justify-content: end;
}
/* 기본 라디오 버튼 숨기기 */
.custom-radio input[type="radio"] {
    display: none;
}
/* 커스텀 라디오 버튼 스타일 */
.custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
}
/* 라디오 버튼 모양 */
.radio-checkmark {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #2E2F33;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}
/* 선택된 라디오 버튼 내부 원 */
.custom-radio input[type="radio"]:checked + .radio-checkmark::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #2DBDB6;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 선택된 라디오 버튼 스타일 */
.custom-radio input[type="radio"]:checked + .radio-checkmark {
    border-color: #2DBDB6;
}
/* 라디오 버튼 레이블 */
.custom-radio span {
    color: #171719;
    font-size: 14px;
    transition: color 0.3s ease;
}
  /* 파일첨부 */
  /* 파일 업로드 컨테이너 스타일 */
  .file-upload-container {
    width: 100%;
    margin: 0 auto 99px;
  }
  /* 파일 업로드 영역 스타일 */
  .file-upload-area {
    background-color: #F4F6F8;
    border: 1px dashed #EDEFF3;
    border-radius: 8px;
    padding: 30px 20px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
  }
  .file-upload-area.drag-over {
    background-color: #eef2f7;
    border-color: #aaa;
  }
  
  /* 업로드 아이콘 스타일 */
  .upload-icon {
    width: 24px;
    height: 24px;
  }
  
  /* 업로드 텍스트 스타일 */
  .upload-text {
    font-size: 14px;
    color: rgba(46, 47, 51, 0.88);
    margin: 8px 0 12px
  }
  
  /* 첨부하기 버튼 스타일 */
  .upload-btn {
    background-color: transparent;
    border: 1px solid rgba(112, 115, 124, 0.28);
    color: #171719;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .file-upload-desc {
    color: rgba(46, 47, 51, 0.88);
    font-size: 12px;
    margin-top: 8px;
    line-height: 130%;
  }
  /* 파일 입력 필드 숨김 */
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  /* 파일 목록 스타일 */
  .file-list-container {
    margin-top: 16px;
  }
  .file-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .file-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    margin-bottom: 8px;
    background-color: #F4F6F8;
    border-radius: 4px;
    font-size: 14px;
  }
  .file-list .file-name {
    flex: 1;
    margin-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .file-list .delete-btn {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s ease;
  }
  .file-list .delete-btn:hover {
    color: #ff3b30;
  }
/* info-box */
.info-box {
    margin: 12px 0 72px;
    padding: 20px 16px;
    background-color: #F4F6F8;
    border-radius: 6px;
}
.info-box h5 {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #171719;
}
.info-box h5 img {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
.info-box ul {
    margin-top: 12px;
}
.info-box ul li {
    font-size: 12px;
    color: rgba(55, 56, 60, 0.61);
    padding-bottom: 1px;
}

.data-radio {
    justify-content: start;
    margin-bottom: 12px;
}
.data-radio  .custom-radio:first-child {
    margin-left: 0;
}
.desc {
    color: #FF0000;
    font-size: 12px;
    margin-top: 12px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0;
}
.modalCpRequestDetail .modal-footer, .modalCpPreview .modal-footer {
    justify-content: flex-end;
}
.modal-overlay {
    background-color: rgba(0,0,0,.25)
}
