.login-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
/* 라운드 박스 - 로그인 페이지용 */
.login-page .login-box {
    margin-top: 70px;
    padding: 32px;
    width: 420px;
    min-height: 600px;
}
/* title */
.login-page h2 {
    margin: 8px 0 32px;
    color: var(--Neutral-Text-default);
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
.login-page h2 span {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    color: var(--Neutral-Text-neutral);
}
/* 잠금해제 */
.move-unlock {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--Neutral-Text-default);
}
.move-unlock strong {
    padding: 10px;
}
/* submit 버튼  */
.btn-login {
    margin: 12px 0;
    width: 100%;
}
/* 초기 섪치 파일 다운 */
.open-initial-file-download {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Neutral-Text-alternative);
    font-size: 14px;
}
.open-initial-file-download button {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--Neutral-Text-default);
    font-weight: 500;
}
/* cs center  */
.desc-box {
    margin-top: 50px;
    padding: 12px;
    font-size: 14px;
    background-color: var(--Primary-Fill-neutral);
    border-radius: 12px;
}
.desc-box p {
    display: flex;
    align-items: center;
    padding: 4px;
}
.desc-box strong {
    position: relative;
    width: 120px;
    padding:   0 8px 0 25px;
    color: #60606A;
}
.desc-box strong::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 3px;
    height: 3px;
    background-image: url(../images/dot.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.desc-box span {
    color: #2B2C31;
}

.login-page.unlock .desc-box {
    width: 320px;
    margin: 24px auto 32px;
}
.login-page.unlock .desc-box strong {
    width: 100%;
}

.login-page .button-wrap.bottom-button-wrap {
    position: absolute;
    left: 50%;
    width: 320px;
    bottom: 32px;
    transform: translateX(-50%);
}
/* otp */
.otp-timer {
    margin-top: 24px;
    font-size: 14px;
    color: var(--Neutral-Text-neutral);
    text-align: center;
}
.otp-timer strong {
    display: inline-block;
    width: 35px;
    color: var(--Primary-Fill-default);
    font-weight: 600;
}


/* 하단 영역 */
.login-footer {
    width: 100%;
    color: rgba(55, 56, 60, 0.61);
    font-size: 13px;
    text-align: center;
    padding: 16px 0;
    line-height: 150%;
}


@media screen and (max-width: 767px) {
    body {
        background-color: #fff;
    }

    .login-page {
        /* position: relative; */
        display: block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: calc(100vh - 60px);  
    }
    /* title */
    .login-page h2 {
        margin-bottom: 32px;
        font-size: 28px;
    }
     /* 라운드 박스 - 로그인 페이지용 */
     .login-page .login-box {
        margin-top: 0;
        padding: 20px;
        width: 100%;
        height: calc(100vh - 60px);
    }

    /* 잠금해제 */
    .move-unlock {
        font-size: 14px;
    }
    .move-unlock strong {
        padding: 10px;
    }
    /* submit 버튼  */
    .btn-login {
        margin: 12px 0;
    }
    /* 초기 섪치 파일 다운 */
    .open-initial-file-download {
        font-size: 14px;
    }
    .open-initial-file-download button {
        padding: 10px;
    }
    .action_button span {
        font-size: 14px;
        color: #8288A0;
        font-weight: 400;
    }
    /* 초기 설치 파일 다운로드 모달 */
    .modal-content.login-modal {
        width: 328px;
    }
    .modal-content.login-modal .modal-body {
        padding: 12px 0;
    }
    .modal-content.login-modal .modal-body .action_button {
        padding: 8px 32px;
    }
    .modal-content.login-modal .modal-body .show_content {
        border-radius: 0;
    }
    .modal-content.login-modal .modal-body .show_content ul li {
        padding: 9.5px 24px 9.5px 72px;
    }
    .modal-content.login-modal .modal-body .show_content ul li::before {
        top: 18px;
        left: 61px;
    }

    /* cs center  */
    .desc-box {
        width: 320px;
        margin-top: 20px;
        padding: 12px;
        font-size: 14px;
        background-color: var(--Primary-Fill-neutral);
        border-radius: 12px;
    }

    /* 하단 영역 */
    .bottom-section {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .login-page .button-wrap.bottom-button-wrap {
        position: initial;
        bottom: initial;
        left: initial;
        width: initial;
        transform: initial;
    }
    .login-footer {
        position: initial;
        bottom: initial;
        left: initial;
        width: 100%;
        margin-bottom: 20px;
        color: var(--Neutral-Text-alternative);
        font-size: 13px;
        text-align: center;
        transform: translateX(0%);
    }
    
  }


  @media screen and (max-width: 500px) {
    body {
        background-color: #fff;
    }

    .login-page {
        /* position: relative; */
        display: block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: initial;
        width: 100%;
        height: auto;  
    }
    .login-header {
        position: inherit;
        width: 100%;
        height: 16.67vw;
        padding: 0 5.56vw;
        line-height: 16.67vw;
    }
    .login-header h1 {
        width: 7.78vw;
        height: 7.78vw;
    }
    /* 라운드 박스 - 로그인 페이지용 */
    .login-page .login-box {
        padding: 5.56vw;
        width: 100%;
        height: calc(100vh - 60px);
    }

    /* title */
    .login-page h2 {
        margin-bottom: 8.89vw;
        font-size: 7.78vw;
    }

    /* 잠금해제 */
    .move-unlock {
        font-size: 3.89vw;
    }
    .move-unlock strong {
        padding: 2.78vw;
    }
    /* submit 버튼  */
    .btn-login {
        margin: 3.33vw 0;
    }
    /* 초기 섪치 파일 다운 */
    .open-initial-file-download {
        font-size: 3.89vw;
    }
    .open-initial-file-download button {
        padding: 2.78vw;
    }


    /* cs center  */
    .desc-box {
        width: 88.89vw;
        padding: 3.33vw;
        font-size: 3.89vw;
        background-color: var(--Primary-Fill-neutral);
        border-radius: 3.33vw;
    }

    .login-page.unlock .desc-box {
        width: 88.89vw;
        margin: 6.67vw auto 8.89vw;
    }
    .otp-timer {
        font-size: 3.89vw;
        margin-top: 6.67vw;
    }
    .otp-timer strong {
        width: 9.72vw;
    }

    /* 하단 영역 */
    .bottom-section {
        position: inherit;
        bottom: inherit;
        left: inherit;
        width: 88.89vw;
        padding-bottom: 5vh;
        transform: translateX(0%);
    }
    .login-page.otp  .bottom-section {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 88.89vw;
        padding-bottom: 5vh;
        transform: translateX(-50%);
    }
    .login-footer {
        position: initial;
        bottom: initial;
        left: initial;
        width: 100%;
        margin-top: 5.56vw;
        font-size: 3.61vw;
        text-align: center;
        transform: translateX(0%);
    }
    
  }

  





