.container.pc-table { display: table !important; }
.mo-card-table { display: none !important; }

article {
    max-width: 1400px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
/* page-title */
.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 32px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 10px 20ox 30px reba(0,0,0,0.02);
}
.page-title h2 {
    display: flex;
    align-items: center;
}
.page-title strong {
    margin-left: 12px;
    font-size: 22px;
    font-weight: 500;
}
.page-title a, .page-title button {
    width: 100px;
    line-height: 40px;
}
.page-title .btn {
    display: flex;
    align-items: center;
    gap: 16px;
}
.page-title button.btn_list_re {
    width: 32px;
    line-height: 0;
}
.table-container {
    position: relative;
    height: calc(100vh - (72px + 84px + 12px + 24px ));
    margin: 12px auto 0;
    padding: 20px 32px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 10px 20ox 30px reba(0,0,0,0.02);
}
.table-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 탭 스타일 */
.tab-container {
    margin-bottom: 12px;
}


.tabs {
    display: flex;
    list-style-type: none;
}

.tabs li button {
    padding: 12px 2px;
    margin-right: 20px;
    cursor: pointer;
    color: #989BA2;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}
.tabs li:last-child {
    margin-right: 0;
}

.tabs li button.active {
    border-bottom: 3px solid var(--Primary-Fill-default);
    color: var(--Primary-Fill-default);
    font-weight: 600;
}

/* 검색 컨테이너 스타일 */
.search-container {
    display: flex;
    width: 320px;
    padding: 11px 16px;
    background-color: var(--Primary-Fill-neutral);
    border-radius: 32px;
}
.search-container .select-selected{
    width: 65px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    padding: 0;
    border: none;
    background: none;
}
.search-container input {
    width: 190px;
    height: 21px;
    border-radius: 4px;
}

.search-container input::placeholder {
    font-size: 14px;
    color: rgba(55, 56, 60, 0.28);
}
.search-container button {
    justify-content: end;
    width: 16px;
    height: 16px;
    margin-left: 12px;
}

.sort-select .custom-select {
    width: 83px;
}
.sort-select .select-selected {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    padding: 0 10px;
    background-color: #fff;
    transition: all .3s;
}
.sort-select .select-selected:hover {
    background-color: var(--Primary-Fill-neutral);
}

/* 커스텀 셀렉트 박스 스타일 */
.custom-select {
    position: relative;
    min-width: 65px;
    font-size: 14px;
}
.sort-select {
    min-width: 100px;
}
.select-selected {
    background-color: rgba(23, 23, 25, 0.05);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

/* 화살표 표시 */
.select-selected:after {
    content: "";
    text-align: center;
    position: absolute;
    top: 55%;
    right: 10px;
    width: 16px;
    height: 16px;
    background-image: url(../../assets/images/chevron_Icon.svg);
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.3s ease;
}

/* 활성화 시 화살표 방향 변경 */
.select-selected.select-arrow-active:after {
    transform: translateY(-50%) rotate(0);
}

.select-items {
    position: absolute;
    top: 100%;
    right: 0;
    width: 132px;
    max-height: 200px;
    padding: 4px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid var(--Neutral-Border-Neutral);
    border-radius: 4px;
    z-index: 99;
    overflow-y: auto;
    box-shadow: 10px 20px 31px rgba(0, 0, 0, 0.02);
}

.select-hide {
    display: none;
}

.select-items div {
    position: relative;
    padding: 6px 12px;
    cursor: pointer;
    user-select: none;
}

.select-items div:hover, .same-as-selected {
    font-weight: 400;
}
.select-items div:hover::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/images/icn_end.png);
    transform: translateY(-50%);
}
/* 테이블 헤더 스타일 */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 4px;
    padding: 6px 0;
}
.total-count {
    font-size: 14px;
    font-weight: 300;
}
.total-count span {
    font-weight: 500;
}

.sort-container select {
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* 테이블 스타일 */
#dataTable {
    width: 100%;
}
#dataTable table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#dataTable thead th {
    position: relative;
    padding: 14px 12px;
    font-size: 14px;
    background-color: var(--Primary-Fill-neutral);
    cursor: pointer;
}
#dataTable tr:first-child th:first-child {border-radius: 8px 0 0 8px;}
#dataTable tr:first-child th:last-child {border-radius: 0 8px 8px 0;}

#dataTable tbody td {
    color: #171719;
    padding: 18px 12px;
    font-size: 14px;
    border-bottom: 1px solid rgba(112, 115, 124, 0.16);
}

#dataTable tr td:first-child {
    padding-left: 24px;
}
#dataTable tr td:last-child {
    padding-right: 24px;
}
#dataTable .td-title {
    display: flex;
    align-items: center;
}
#dataTable .td-title img {
    width: 20px;
    height: 20px;
}

#dataTable th::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 16px;
    height: 16px;
    background-image: url(../../assets/images/ic_chart_sort.svg);
    background-repeat: no-repeat;
    transform: translateY(-50%);
}
/* 상태 표시 스타일 */
.status-answered span {
    position: relative;
    display: inline-block;
    padding: 5px 12px 5px 28px;
    color: #0077FF;
    background-color: rgba(0, 119, 255, 0.05);
    border-radius: 1000px;
}
.status-answered span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../../assets/images/ic_complete_blue_16.svg);
}

.status-pending span {
    position: relative;
    display: inline-block;
    padding: 5px 12px 5px 28px;
    color: #FF9200;
    background-color: rgba(255, 146, 0, 0.05);
    border-radius: 1000px;
}
.status-pending span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../../assets/images/pending.svg);
}


.status-in-progress span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    border-radius: 10000px;
    color: #0077FF;
    background-color: rgba(0, 119, 255, 0.05);
}

.status-reject span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    border-radius: 10000px;
    color: #FF4242;
    background-color: rgba(255, 66, 66, 0.05);
}

.status-before span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    border-radius: 10000px;
    color: #2F2F2F;
    background-color: rgba(47, 47, 47, 0.05);
}

.status-process-complete span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    border-radius: 10000px;
    background-color: rgba(0, 157, 85, 0.05);
    color: #009D55;
}

.status-approve span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    border-radius: 10000px;
    background-color: rgba(45, 189, 182, 0.05);
    color: #2DBDB6;
}
.scroll {
    overflow-y: auto;
    padding-bottom: 30px;
}
/* 페이지네이션 스타일 */
.pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin-top: 12px;
    background-color: #fff;
    padding: 15px 20px 20px;
    z-index: 9;
}
.pagination button {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 4px;
    cursor: pointer;
}
.pagination button:disabled {
    background: none;
    opacity: .4;
}

.page-numbers {
    display: flex;
}

.page-numbers button {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 50%;
}

.page-numbers button.active {
    background-color: #EAEBEC;
}

.search-no-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    min-height: 400px;
    text-align: center;
    color: var(--Neutral-Text-neutral);
    line-height: 150%;
}
.search-no-result button {
    margin-top: 12px;
    padding: 0 17px;
    color: #171719;
    background-color: #F4F4F5;
}

/* FAQ 스타일 */
.faq-table tbody tr {
    cursor: pointer;
    transition: background-color 0.2s;
}

.faq-table .toggle-icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.faq-table tr.open .toggle-icon {
    transform: rotate(0deg);
}
#dataTable tbody tr.open td, #dataTable tbody tr.show td {
    border-bottom: none;
}

.faq-answer {
    background-color: #F4F6F8;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    opacity: 0;
}

.faq-answer td {
    padding: 0 30px;
}

.faq-answer.show {
    max-height: 1000px; /* 충분히 큰 값으로 설정 */
    opacity: 1;
}

.faq-answer.show td {
    padding: 24px;
}

.answer-content {
    padding-left: calc(20%);
    transform: translateY(-20px);
    transition: transform 0.4s ease-out;
    opacity: 0;
}

.faq-answer.show .answer-content {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.4s ease-out 0.1s, opacity 0.4s ease-out 0.1s;
}

.answer-content {
    line-height: 1.6;
    color: #333;
}

.faq-answer td {
    border-radius: 8px 8px 8px 8px;
    border-bottom: none;
}

/* 클라우드 피시 신청페이지 */
.cp-list-page .table-container {
    display: flex;
    justify-content: space-between;
}
.cp-list-page .table-header-top {
    display: flex;
    width: 220px;
    align-items:start;
}
.cp-list-page #dataTable {
    width: 1076px;
}
.cp-list-page .tab-container {
    width: 100%;
}
.cp-list-page .tabs {
    display: block;
}
.cp-list-page .tabs li button  {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: none;
}
.cp-list-page .tabs li button.active {
    background-color: #F4F6F8;
    color: #000;
    border: none;
    border-radius: 8px;
}
.cp-list-page .table-container {
    min-height: 500px;
}
.cp-list-page .tab-count {font-weight: 500;}

@media (max-width: 1479px) {
    article {
        max-width: 1400px;
        padding: 0 40px;
    }
    .sort-select .select-selected:hover {
        background-color: #fff;
    }
}

@media (max-width: 1079px) {
    .pc-table { display: none !important; }
    .mo-card-table { display: block !important; margin-top: 4px; }

    article {
        max-width: 1079px;
        padding: 0 32px;
    }

    /* 모바일 카드 테이블 */
    .mo-card-table .card-item {
        position: relative;
        padding: 16px 0;
        border-bottom: 1px solid #EDEFF3;
    }

    .card-header .card-category {
        font-size: 14px;
    }
    .card-body {
        margin: 4px 0 8px;
    }
    .card-body .card-title {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    .card-body .card-title img {
        margin-right: 2px;
    }
    .card-footer .card-info {
        display: flex;
        align-items: center;
        color: rgba(55, 56, 60, 0.61);
    }
    .card-footer .card-info div {
        padding: 0 8px;
        font-size: 13px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    .card-footer .card-info div:first-child {
        padding-left: 0;
    }
    .card-footer .card-info div:last-child {
        border-right: none;
    }
    .card-footer .card-info .card-views {
        display: flex;
        align-items: center;
    }
    .card-footer .card-info .card-views img {
        margin-right: 4px;
        width: 16px;
        height: 16px;
    }


    /* faq */
    .faq-list-page  .toggle-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .faq-list-page  .card-item.expanded .answer-content {
        background-color: #F4F6F8;

    }
    
    .faq-list-page  .card-item.expanded .answer-content {
        transform: translateY(0px);
        opacity: 1;
    }

    /* faq */
    .faq-list-page .card-item.expanded {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .faq-list-page .card-info {
        display: flex;
        align-items: center;
    }
    
    .faq-list-page .card-toggle {
        display: flex;
        align-items: center;
    }
    
    .faq-list-page .toggle-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 24px;
        height: 24px;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }
    
    /* FAQ 답변 스타일 - 특화된 디자인 */
    .faq-answer-mobile {
        background-color: #F4F6F8;
        padding: 24px;
        margin-bottom: 10px;
        border-radius: 8px;
        border-bottom:none;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        line-height: 150%;
        font-size: 14px;
        color: #444;
    }
    
    .faq-answer-mobile.expanded {
        padding: 16px;
        max-height: 1000px;
    }
    .card-item.expanded {
        border-bottom:  none;
    }
}

/* 반응형 디자인 */
@media (max-width: 767px) {
    article {
        max-width: 767px;
        padding: 0 20px;
    }
    .table-container {
        position: relative;
    }
     .search-container {
        display: none;
     }
     .search-container.active {
        display: flex;
        align-items: center;
        position: absolute;
        width: calc(100% - 64px);
        height: 44px;
        border-radius: 0;
        padding: 10px 0;
        background-color: #fff;
        border-bottom: 1px solid #EDEFF3;
     }
     .search-container .select-selected {
        width: 68px;
        /* height: 44px;
        line-height: 44px; */
        font-size: 16px;
        border-right: 1px solid #EDEFF3;
    }
    .search-container input {
        width: calc(100% - 68px);
        height: 100%;
        border-radius: 4px;
        font-size: 16px;
        padding-left: 10px;
    }
    .search-container input::placeholder {
        font-size: 16px;
    }
    #searchButton {
        width: 40.75px;
        height: 44px;
    }
    #searchButton img {
        width: 24px;
        height: 24px;
    }
    .search-button-toggle {
        width: 40.75px;
        height: 44px;
        padding: 10px 7px;
        margin-bottom: 5px;
        /* margin-right: -2px; */
    }
    .search-button-toggle img {
        width: 24px;
        height: 24px;
    }
    .tab-container {
        overflow-x: scroll;
        width: calc(100% - 50px);
    }
    .tabs li button {
        padding: 8px 2px;
    }
    .card-body .card-title {
        display: inline-block;
        width: calc(100% - 30px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
    .sort-select {
        min-width: 74px;
    }
    .select-selected {
        background-color: #fff;
    }
    .sort-select .select-selected {
        padding: 0;
    }
    .select-selected:after {
        right: 0;
    }
    .pagination {
        width: 90%;
    }
    .search-no-result {
        margin-top: 100px;
        justify-content: flex-start;
    }
    
}